html {
    height: 100%;
}

body {
    width: 100%;
    height: calc(100% - 60px);
    color: #888;
    font-size: 16px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #F5F7FA;
}

a {
    color: #888 !important;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.clear {
    clear: both;
}

.margin0 {
    margin: 0 !important;
}

.marginT0 {
    margin-top: 0 !important;
}

.marginT10 {
    margin-top: 10px !important;
}

.marginR0 {
    margin-right: 0 !important;
}

.marginR10 {
    margin-right: 10px !important;
}

.marginB0 {
    margin-bottom: 0 !important;
}

.marginB10 {
    margin-bottom: 10px !important;
}

.marginB50 {
    margin-bottom: 50px !important;
}

.marginL0 {
    margin-left: 0 !important;
}

.marginL10 {
    margin-left: 10px !important;
}

.padding0 {
    padding: 0 !important;
}

.paddingT0 {
    padding-top: 0 !important;
}

.paddingT10 {
    padding-top: 10px !important;
}

.paddingR0 {
    padding-right: 0 !important;
}

.paddingR10 {
    padding-right: 10px !important;
}

.paddingB0 {
    padding-bottom: 0 !important;
}

.paddingB10 {
    padding-bottom: 10px !important;
}

.paddingL0 {
    padding-left: 0 !important;
}

.paddingL10 {
    padding-left: 10px !important;
}

.border0 {
    border: 0 !important;
}

.borderT0 {
    border-top: 0 !important;
}

.borderT10 {
    border-top: 10px !important;
}

.borderR0 {
    border-right: 0 !important;
}

.borderR10 {
    border-right: 10px !important;
}

.borderB0 {
    border-bottom: 0 !important;
}

.borderB10 {
    border-bottom: 10px !important;
}

.borderL0 {
    border-left: 0 !important;
}

.borderL10 {
    border-left: 10px !important;
}

.full {
    width: 100%;
    height: 100%;
}

.auto-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    width: 100%;
    height: 60px;
    padding: 10px 60px;
    position: fixed;
    top: 0;
    background-color: #34302F;
    line-height: 39px;
    border-bottom: 1px solid #dadada;
}

.page-container {
    width: 100%;
    height: calc(100% - 59px);
    position: fixed;
    top: 59px;
    display: flex;
}

.page-aside {
    flex: 1;
    min-width: 280px;
    height: 100%;
    padding: 20px 10px 60px 10px;
    overflow: auto;
    background-color: #2C2827;
}

.page-main {
    flex: 10;
    height: 100%;
}

.page-article {
    width: 100%;
    height: 100%;
}


/* 提示框定位*/
.alert {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}

/* 菜单相关 start*/
.activeMenu {
    color: #42b983;
}

.menu-item, .file-item {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
}

.div-title {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

#menuList {
    height: calc(100% - 60px);
}

.menu-item-container {
    transition: height 2s;
    -webkit-transition: height 2s;
}

.menu-collapse {
    height: 30px;
    overflow: hidden;
}

/* 菜单相关 end*/

